body {
  background-color: aliceblue;
  color: rgb(13, 74, 84);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

.font-d-b {
  color: rgb(37, 79, 101);
}

.text-dec-none {
  text-decoration: none;
}

.header-h1 {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.header-h1-text {
  color: rgb(17, 65, 107);
  font-size: 2.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.landing-nav {
  margin-left: 50px;
  padding-left: 50px;
  margin-bottom: 35px;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
}

.section-1,
.section-2 {
  margin-left: 50px;
}

.section-1 {
  margin-top: 20px;
}

.h3-text {
  font-size: 2.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  margin-left: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.h3-text:hover {
  text-decoration: underline;
}

.img-1,
.img-2 {
  width: 240px;
  height: 350px;
}

/* BROWSE HTML STYLES */

.gallery-box {
  justify-content: center;
}

.img-gallery,
main {
  background-color: rgb(209, 219, 219);
}
.img-gallery {
  margin-bottom: 20px;
}

.img-gallery img {
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.img-gallery span {
  font-family: Arial, sans-serif;
  color: black;
  padding-left: 60px;
}

/* OBJECT FIT + POSITION USE */

.gallery-img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  object-position: center center right;
}

.gap {
  column-gap: 30px;
}

.footer {
  background-color: rgb(209, 212, 219);
  justify-content: center;
  color: black;
}

.footer-div {
  column-gap: 10px;
  margin-bottom: 20px;
}
